body {
  font-family: 'Montserrat', sans-serif;
}

.form-wrapper {
  width: 408px;
  margin: 0 auto;
}

.email-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.email-input:hover {
  border: 1px solid #000;
  border-radius: 4px;
}

.message-input {
  width: 360px;
  height: 80px;
  resize: none;
}

.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.submit-btn {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.submit-btn:hover {
  background-color: #6c8cff;
}
